*{
    margin:0;
    padding: 0;
    font-family: 'Raleway', sans-serif;

}
.affix{
    position: fixed;
    background-color: white;
    color: black;
    top: 0;
    width: 100%;
    z-index: 100 !important;
    box-shadow: 1px 1px 1px gray;
    transition: 0.5s;
}
.navbar-toggle{
    background-color:black; 
}
.navbar-toggle .icon-bar{
    background-color: white;
}
.header-upper .text-right,.txt-left {
    padding: 20px;
    display: inline-block;
    float: left;
    width: 25%;
}
span.text-center {
    float: left;
    width: 50%;
    font-size: 3.5rem;
    padding: 10px;
}
.text-right {
    width: 20%;
}
.header{
    background-color: black;
    color: white; 
}
.header-upper{
    border-bottom:1px solid white;
}
.header-lower{
    background-color:black; 
}
nav.navbar {
    margin: 0;
}
.header-lower li a{
    color: white;
}
.header-lower li a:hover,.header-lower li a:focus{
    color: white;
    background-color: #1abc9c
}
input[type="search"] {
    border: 1px solid;
    padding: 7px;
    border-radius: 5px;
}
input[type="search"]:focus{
    outline: none;
}
.header form.form-inline {
    padding-top: 6px;
}
/*---------Images Section---------*/

.flex-wrapper{
    margin-top: 50px;
}
.flex-img-wrapper{
    margin: 0 15px;
    background-color: white;
    max-width: 335px;
}
.flex-img {
    position: relative;
    overflow: hidden;
}
.flex-img-wrapper img{
    width: 100%;
    height: 300px;
    transition: 1s;
}
.flex-img-wrapper:hover img{
    filter: brightness(50%);
    transition: transform 1s ease-in-out;
    transform: scale(1.2);
}
.flex-img-wrapper:hover .hover-btns{
    visibility: visible;
}
.flex-img-content {
    padding: 30px 0;
    background-color: white;
}

.see-more-btn{
    background-color: transparent;
    cursor: pointer;
    border: 2px solid black;
    font-size: 17px;
    padding: 7px 22px;
    font-weight: 900;
    transition: 0.4s;
}
.see-more-btn:hover,.see-more-btn:focus {
    background-color: #1abc9c;
    color: white;
    border: transparent;
    transition: 0.5s;
}
.hover-btns{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}
.hover-btns .see-more-btn {
    flex: 1;
    color: white;
    padding: 4px 10px;
    background-color: #1abc9c;
    border: 2px solid #1abc9c;
}

.section{
    background-color: whitesmoke;
    padding-top:50px;
}
.section-head {
    font-size: 18px;
    font-weight: 600;
    position: relative;
    text-align: center;
}
.section-head::after {
    content: '';
    display: block;
    background-color: black;
    height: 2px;
    width: 25px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: calc(100% + 5px);
}

.form-left {
    flex: 1;
}
.form-right {
    flex: 1;
}
.section-head4 {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 25px;
}
/*------Form Section-----*/
.image3d {
    min-width: 100%;
    padding-bottom: 40px;
    text-align: center;
}
.form-section .form-left p{
    color: gray;
}
.form-section label {
    color: #a4a2a2;
}
/**-----Vendor Section-----*/
.owl-theme .owl-nav,.owl-dots{
    display: none;
}
.vendor-section{
    background-color:white; 
}
.vendor-section .section-head{
    margin-bottom: 60px;
    font-size: 22px;
}
.owl-carousel .owl-item img {
    max-width: 100%;
    height: 100px;
}
/*-------FOOTER SECTION---------*/
.footer {
    color: #aaa7a7;
    padding: 70px 0;
    margin-top: 100px;
    background: #161616;
}
.footer li a{
    color: #aaa7a7;
}
.footer li a:focus,.footer li a:hover{
    color: white;
    text-decoration:none;
}
.footer h4{
    color: white;
}
.footer li{
    list-style-type: none;
    padding-top: 20px;
}
.list-inline li a{
    color: #aaa7a7;
    font-size: 20px;
    padding-left: 10px;
}
.list-inline li a:hover,.list-inline li a:focus{
    color: white;
}
.insta-images{
    display: flex;
    margin-top: 40px;
}
.last-img{
    overflow: hidden;
}
.last-img img{
    width: 135px;
    height: 135px;
    transition: all 0.3s;
}
.last-img:hover img{
    transition: all 0.3s;
    transform: scale(1.1);
    opacity: 0.9;
}
.footer-end{
    text-align: center;
    background-color: black;
    padding: 20px 0;
    color: #b5b3b3;
}
.scrollbtn{
    display: none;
    padding: 4px 16px;
    background-color:transparent;
    font-size: 30px;
    border-radius:25px;
    border: 2px solid gray;
    box-shadow: 1px 1px 1px grey;  
    position: fixed;
    display:block;
    bottom: 10px;
    right: 20px;
    color: gray;
}
.scrollbtn:hover,.scrollbtn:focus{
    background-color: lightgray;
    border-color:lightgray;
    outline:none;
}
/*-------Media Query Starts-------*/

@media screen and (min-width:992px){
    .flex-wrapper{display: flex;margin-top: 50px;}
    .card{flex:1;}
    .section-head3{
        text-align: left;
        margin-left: 10px;
    }
    .section-head3::after{
        left: 15px;
    }
    .image3d img{
        height: 250px;
    }
}
@media screen and (min-width:768px){
    .form-section {display: flex;}
    .content-left{flex: 1}
}

@media screen and (max-width: 992px){
    .navbar-collapse.collapse{
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display: block !important;
    }
    .navbar-nav,.navbar-nav>li,.navbar-right,.navbar-header{
        float: none !important;
    }
    .navbar-nav li a:first-child{
        display: block;
    }
    .flex-img-wrapper{margin:0 auto; margin-top: 25px;}
}

@media screen and (max-width:768px){
    
}
@media screen and (max-width:610px){
    .header-upper .text-right,.txt-left{display: none;}
    .header-upper .text-center{width: 100%;}
    .owl-carousel .owl-item img {width: 100%;}
}
